

.header{
   width : 100% ;
   height: 80px;
   line-height: 80px;
   background-color: tan;
}

.nav-list{

   margin: 0;
   padding: 0;
   display: flex;
   list-style: none;
   column-gap: 1.3rem;
   
}

.nav-items a {
   font-weight: 500;
   font-size: 1.1rem;
   color: black;
   text-decoration: none;
   transition: 0.3s;

}
.nav-items a:hover{
   color: aqua;
}

.nav-right p {
   color: black;
   font-weight: 500;
   font-size: 1.1rem;

}
.nav-right p i {
   font-size: 1.3rem;
}

.logo h2 i {
   color: rgba(129, 5, 5, 0.687);
   font-size: 3rem;
}


.mobile-menu span i {
color: black;
font-size: 1.5rem;
}

.mobile-menu{
   display: none;
}

@media only screen  and (max-width : 991px){
   .nav-menu{
      position: fixed;
      top: 0;
      left: 0px;
      width: 100% ;
      height: 100%;
     background-color: #0a2b1eb2;
      z-index: 99;
      display: none;

   }
   .nav-list{
      position: absolute;
       top: 0;
       left: 0;
       width: 250px;
       height: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       z-index: 999;
       background-color: white;
       padding-top: 80px;
       
    
      }
      .mobile-menu {
       display: block;
    
      }
      .nav-right{
       display: none;
      }
    
      .active__menu{
       display: block;
      }
  

}
